In [3]:
#create a program that when it is excuted, shows us the number of even (2,4,6) numbers obitained in 10,000 dice rolls 
#defind array with all possible outcomes
possible_outcomes= [1,2,3,4,5,6,]


#defind the counter of the times an even number was obtained
number_of_execution = 1000

#we define the event as the even number 
wanted_outcomes= [2,4,6]

In [4]:
#we will writer irergation  fo dice rolling 
import  numpy as np
number_of_even = 0
for i in range(number_of_execution):
    x=np.random.choice(possible_outcomes)
    if(x in wanted_outcomes):   
        number_of_even += 1

In [5]:
#computting the probabilty 
probability_of_even= number_of_even / number_of_execution
#printing the probability 
print("{0:d} of the outcomes where even, we had a probability of around {1:2f}".format(number_of_even, probability_of_even))

506 of the outcomes where even, we had a probability of around 0.506000

In [6]:
#given a list of students, were going to find the probability a student get an A(80%) in math, given they miss 10 or more classes.
import pandas as pd

df=pd.read_csv("/Users/kayla/Desktop/Mat4906-ML/student-mat.csv")
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10

In [7]:
#for our problem we need only the colums of absent and final grade G3 (0-20. lets rescale the grafes from 0 to 100 and rewrite the colums

df['grade_A']= np.where(df['G3']*5>=80,1,0)
df['high_absences'] = np.where(df['absences']>=10,1,0)

In [8]:
#add one more column for our pivot table, and drop the colums we dont need.

df['count']=1
df= df[['grade_A', 'high_absences','count']]
df.head()

   grade_A  high_absences  count
0        0              0      1
1        0              0      1
2        0              1      1
3        0              0      1
4        0              0      1

In [9]:
len(df)

395

In [10]:
table=pd.pivot_table(df, values='count', index=['grade_A'], columns=['high_absences'], aggfunc=np.size, fill_value=0)
table

high_absences    0   1
grade_A
0              277  78
1               35   5

In [12]:
#computing the probability of students who get an a in  math if they missed 10 or more days of class
#p(A)= is the probability of a grade of 80% or greater
#p(B)= is the probability of missing 10 or more classes 
#p(A|B) = is the probability odf a 80% grade, given missing 10 classes.
p_a=(table.values[1,0]+table.values[1,1])/(table.values[1,0]+table.values[1,1]+table.values[0,1]+table.values[0,0])
p_b=(table.values[0,1]+table.values[1,1])/(table.values[1,0]+table.values[1,1]+table.values[0,1]+table.values[0,0])
pa_and_pb= (table.values[1,1])/(table.values[1,0]+table.values[1,1]+table.values[0,1]+table.values[0,0])
prob=pa_and_pb/p_b
print("the probability of students that got an a in math, given they missed 10 or more classes is", prob)

the probability of students that got an a in math, given they missed 10 or more classes is 0.060240963855421686